<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자바스크립트</title>
</head>
<body>
<h1>자바스크립트에서 제공되는 함수들</h1>
<p>자바스크립트에서 배열은 사용빈도가 높은 객체이다. 자바스크립트 배열객체는 배열을 다루기 위한 유용한 속성과 함수들이 제공된다.</p>
<ul>
    <li>Array.isArray()</li>
</ul>
<script>
    let n =10;
    let data = ['apple','banana','cherry']
    console.log(Array.isArray(n),Array.isArray(data));
    console.log(data.length);

    data[3]='grape';
    console.log(data);
    data[-1]='mango';
    console.log(data);

</script>
</body>
</html>