<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자바스크립트</title>
</head>
<body>
<h2>자바스크립트에서 제공되는 함수들</h2>
<ul>
    <li>Math.abs() 절대값</li>
    <li>Math.round() 반올림 정수형 number</li>
    <li>Math.ceil() 올림</li>
    <li>Math.floor() 내림한 정수형 number</li>
    <li>Math.sqrt() 루트</li>
    <li>Math.random()</li>
    <li>Math.max()</li>
    <li>Math.min()</li>
</ul>
<script>
    let totalMinute = 432;
    console.log(totalMinute/60);
    console.log(Math.round(totalMinute/60));
    console.log(Math.ceil(totalMinute/60));
    console.log(Math.floor(totalMinute/60));
    console.log(Math.random());
    Math.max(123,45,352,34,45,47,64,3,412,214532,32,46326423);
    console.log(r);
    let arr = [4,63,445,24,7,47,4,48,4584523];
    let t1 = Math.max(...arr);
    let t2 = Math.min(...arr);
    console.log(t1,t2);
</script>
</body>
</html>