<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 ondblclick="window.alert('클릭');">Javascript</h1>
<p id="desc">
  자바스크립트는 정적인 HTML 문서에 생명(기능,동작)을 불어넣는 역활을 담당한다.
</p>
<p>
  여러가지 일들을 할수 있겠지만, 버튼이나 input 요소 같은걸 사용자가 클릭했을때 반응을 하게 만들수도 있고,
  사용자가 입력(변경)하는 값들로 계산을 해서 결과를 보여줄수도 있고,
  화면일부를 변경하거나, 필요하다면 데이터를 서버와 주고 받는것도 가능하다.
</p>

<script>
  window.alert("헬로우");
  document.getElementById("desc").onmouseover = function () {
    window.alert("마우스오버");
  }

</script>

</body>
</html>